<!--Associations section-->
<section class="bg-slate-200">
  <div class="flex flex-col items-center">
    <div class="pt-10">
      <h2 class="text-xl font-semibold italic text-center px-16">The Gateway Flight Training team are a proud members of the following organizations</h2>
    </div>
    <div class="flex flex-col lg:flex-row justify-center items-center gap-10 lg:gap-10 px-20 md:px-48  lg:px-5 pt-10 pb-20 lg:py-10">
      
      <!--FAAST-->
      <%= link_to "https://www.faasafety.gov", class: "lg:w-1/5", target: :blank do %>
        <%= image_tag "FAAST.webp", alt: "Federal Aviation Safety Team Logo", class: "hover:scale-105 transition-all duration-300 h-48"%>
      <%end%>
      <!--SAFE-->
      <%= link_to "https://safepilots.org", class: "lg:w-1/5", target: :blank do %>
        <%= image_tag "SAFE.webp", alt: "Society of Aviation and Flight Educators logo", class: "hover:scale-105 transition-all duration-300 px-5  h-44"%>
      <%end%>
      <!--NAFI-->
      <%= link_to "https://www.nafinet.org/sponsors", class: "lg:w-1/5", target: :blank do %>
        <%= image_tag "nafi.webp", alt: "National Association of Flight Instructors logo", class: "hover:scale-105 transition-all duration-300 px-5"%>
      <%end%>
      <!--NBAA-->
      <%= link_to "https://nbaa.org", class: "lg:w-1/5", target: :blank do %>
        <%= image_tag "nbaa.webp", alt: "National Business Aviation Association logo", class: "hover:scale-105 transition-all duration-300"%>
      <%end%>
      <!--MPA-->
      <%= link_to "https://mopilots.org", class: "lg:w-1/5", target: :blank do %>
        <%= image_tag "mpa.webp", alt: "Missouri Pilots Association logo", class: "hover:scale-105 transition-all duration-300 px-5"%>
      <%end%>
      
    </div>
  </div>
</section>