<!--Footer-->
<section class="w-full bg-red-900 text-slate-100">
  <div class="flex flex-col lg:flex-row justify-center items-start pt-10">
    <!--Logo and mission-->
    <div class="lg:w-1/4 flex flex-col justify-center lg:justify -start px-10">
      <%= image_tag "gatewaylogo_white.webp", alt: "Gateway Logo White", class: "w-56"%>
      <p class="pt-7 lg:pr-0 pr-10">
        Safety in aviation through education.  We are a team of knowledgeable and expierenced aviators with a priority in safety.  Our mission is serve the St. Louis aviation community with our aviation knowledge and expertise.
      </p>
    </div>
    <!--Links-->
    <div class="lg:w-1/4 flex flex-col justify-center lg:pl-24 pl-10 pr-8">
      <h3 class="font-bold text-xl pt-10 pb-5 lg:pb-10">Website Links</h3>
      <ul class="font-semibold ">
        <li class="pb-3"><%= link_to schedule_call_path, class: "hover:underline" do %>Flight Training<%end%></li>        
        <li class="pb-3"><%= link_to "https://rightruddermarketing.com/notams/5-tips-to-grow-your-flight-school", data: { turbo: false }, class: "hover:underline" do %>Maintenance<%end%></li>
        <li class="pb-3"><%= link_to webinars_path, data: { turbo: false }, class: "hover:underline" do %>News and Announcements<%end%></li>
        <li class="pb-3"><%= link_to marketing_system_path, data: { turbo: false } , class: "hover:underline" do %>About Us<%end%></li>
        <li class="pb-3"><%= link_to about_us_path, data: { turbo: false }, class: "hover:underline" do %>Contact Us<%end%></li>
        <li class="pb-3"><%= link_to careers_path, data: { turbo: false }, class: "hover:underline" do %>Flight Scheduler<%end%></li>
      </ul>
    </div>
    <!--Contact-->
    <div class="lg:w-1/4 flex flex-col justify-center lg:px-3 pl-10">
      <h3 class="font-bold text-xl pt-10 pb-3  lg:pb-10">Contact Us</h3>
      <ul class="pb-5 w-full">
        <li class="pb-5">
          <div class="flex flex-row">
            <div class="pr-3">
              <%= image_tag "pin.webp", alt: "map pin", class: "h-5 invert pt-1"%>
            </div>
            14301 Creve Coeur Airport Road<br>
            Hangar N3<br>
            Maryland Heights, MO 63146<br>
          </div>
        </li>
        <li class="pb-5">
          <div class="flex flex-row">
            <div class="pr-3">
              <%= image_tag "phone.webp", alt: "phone icon", class: "h-5 invert pt-1" %>
            </div>
            <%= link_to "1-314-780-7899", "tel:1-314-780-7899" %>
          </div>
        </li>
        <li class="pb-5">
          <div class="flex flex-row">
            <div class="pr-3"><%= image_tag "email.webp", alt: "email icon", class: "h-5 invert pt-1 object-contain" %></div>
            <p>
              <%= mail_to "info@gatewayflight.com", class: "hover:underline"%>
            </p>
          </div>
        </li>
      </ul>
    </div>
    <!--News Letter-->
    <div class="lg:w-1/4 w-full flex flex-col mt-10 lg:my-10 justify-center lg:px-5 lg:mr-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199216.56948954644!2d-90.7874590671875!3d38.7233441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87df2c3d6da8c597%3A0x858179118d0ef2b8!2sGateway%20Flight%20Training!5e0!3m2!1sen!2sus!4v1677399534070!5m2!1sen!2sus" class="aspect-video h-72" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
<%= render "shared/messenger"%>
<%= render "shared/copyright_social_footer" %>