<!--Flex Container-->
<div class="flex flex-row items-center justify-between py-0 lg:pt-4 lg:pb-6">
  <!--Logo Box-->
  <div class="hover:brightness-125 transition-all duration-300">
    <%= link_to root_path, data: { turbo: false } do %>
      <%= image_tag "gatewaylogo_red400.webp", alt:"Gateway Flight School Logo", class: "h-14 lg:h-20 ml-5" %>
    <% end %>
  </div>
  <!--Mobile Hamburger-->
  <div class="lg:hidden text-4xl p-5" x-on:click="menu = ! menu">
    ☰
  </div>
  
  <div class="hidden mr-5 mt-4 text-lg font-bold lg:flex lg:flex-row lg:items-center uppercase italic">
    <%= link_to "Home", root_path, data: { turbo: false }, class: "px-3 hover:text-red-700 transition-all duration-300" %>
    <%= link_to "Flight Training", marketing_system_path, data: { turbo: false }, class: "px-3 hover:text-red-800 transition-all duration-300" %>
    <%= link_to "Ground School", notams_path, data: { turbo: false }, class: "px-3 hover:text-red-800 transition-all duration-300" %>
    <%= link_to "Maintenance", notams_path, data: { turbo: false }, class: "px-3 hover:text-red-800 transition-all duration-300" %>
    <%= link_to "Financing", notams_path, data: { turbo: false }, class: "px-3 hover:text-red-800 transition-all duration-300" %>
    <%= link_to "About Us", notams_path, data: { turbo: false }, class: "px-3 hover:text-red-800 transition-all duration-300" %>
    <%= link_to "Flight Schedule", schedule_call_path, class: "bg-red-800 hover:bg-red-700 text-white rounded-lg text-center py-2 px-5 ml-8 mr-2 transition-all duration-300 not-italic font-semibold" %>
  </div>
</div>
<!--Mobile Menu-->
<div class="absolute bg-white w-full h-screen flex flex-col justify-center pb-52" x-cloak x-show="menu" x-transition x-transition:enter.duration.600ms >
  <ul class="text-center font-semibold text-lg" x-data="{ dropdown: false }">
    <li class="py-3"><%= link_to "Home", root_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>
    <li class="py-3"><%= link_to "Our System", marketing_system_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>
    <!--Resources Menu-->
    <li class="py-3"><button class="hover:text-blue-700 transition-all duration-300" x-on:click="dropdown = ! dropdown">Resources</button></li>
    <div class="" x-cloak x-show="dropdown" x-transition x-transition:enter.duration.600ms>
      <li class="py-2"><%= link_to "Webinars", webinars_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Flight School Tips", checklist_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Business and Marketing Articles", notams_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Growth Accelerator Session", schedule_call_path, class: "hover:text-blue-700 transition-all duration-300" %></li>  
    </div>
    <li class="py-3"><%= link_to "NOTAMs", notams_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>
    <li class="py-3"><%= link_to "Schedule Call", schedule_call_path, class: "hover:text-blue-700 transition-all duration-300" %></li>
  </ul>
</div>