<%# Head / Meta Data %>
<% title("Gateway Flight Training | Become a Pilot in St. Louis") %>
<% meta_description("Train more pilots and grow your flight school with Right Rudder Marketing.  Right Rudder Marketing is a pilot owned digital marketing agency that works EXCLUSIVELY with flight schools.  We've developed a marketing system for flight schools that will not only get you more visibility and more brand recognition, but also more students, more flights, and more revenue. Your flight school will become “The Best Known Flight School” in your area.") %>
<% meta_keywords("flight school marketing, website design for flight schools, grow flight school business, aviation marketing, website design for flying club fbo, tim jedrek") %>
<% og_image(image_url("meta_pic_rrm.webp")) %>
<% twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar" %>
  <!--Red header-->
  <section class="bg-red-900 text-white">
    <div class="flex flex-col items-center py-4 text-center">
      <h1 class="font-semibold text-2xl lg:text-3xl">Flight Training in St. Louis, MO</h1>
      <h2 class="italic py-2">The Safe Affordable Way to Become a Pilot</h2>
      <hr class="border-1 border-white w-52" />
      <span class="pt-2 font-semibold">314-780-7899</span>
    </div>
  </section>
  <section class="bg-slate-100">
    <div class="flex flex-col lg:flex-row-reverse lg:items-center pt-10 lg:py-10">
      <!--Text Section-->
      <div class="lg:w-1/2 flex flex-col justify-center items-center pb-10">
        <h2 class="px-2 text-3xl text-center font-bold">Get Your <span class="text-red-600">FREE</span> Pilot Training Guide Book!</h2>
        <p class="px-5 py-7 lg:px-32 text-center">50 pages of how to get started on becoming a pilot.  We'll mail you this free booklet explains everything you need to know about getting your pilot certificate.</p>
        <%= button_to "Send me the free book!", "#", class: "uppercase bg-yellow-500 hover:bg-yellow-400 transition-all duration-300 text-white font-semibold rounded-lg text-center sm:text-lg lg:text-xl py-2 px-5"%>
      </div>
      <!--pic section-->
      <div class="lg:w-1/2">
        <div class="grid place-items-center">
          <%= image_tag "book-mockup.webp"%>
        </div>
      </div>
    
    </div>
  </section>


  


  <section class="bg-slate-50 py-10">
    <h2 class="font-bold text-center text-3xl pb-10 px-5">
      First Time Here? Here's How to Become a Pilot
    </h2>
    <!--Three Steps-->
    <div class="flex flex-col lg:flex-row lg:justify-center">
      <!--Step 1-->
      <%= link_to "#" do %>
        <div class="flex flex-col justify-between bg-white drop-shadow-xl rounded-xl p-0 mx-5 mb-5 lg:w-1/3"> 
          <!--Picture-->
          <div class="">
              <%= image_tag "archpic.webp", class: "object-cover w-full rounded-t-xl lg:h-72" %>
          </div>
          <!--Step-->
          <div class="px-3">
            <strong class="block font-bold my-1 text-2xl text-center text-red-800">
                1. Schedule a Discovery Flight
            </strong>
          </div>
          <!--Step Text-->
          <div class="px-3 text-center">
            Take the controls of the aircraft for the first time as your instructor guides you through the flight.
          </div>
          <!--button-->  
          <div class="flex flex-row justify-between items-start">
            <%= link_to "#", class: "px-3 w-full m-3 mt-5 rounded-md text-center text-white font-semibold bg-yellow-500 transition-all duration-300 hover:bg-yellow-400 " do %>
                Book Now!
            <% end %>
          </div>
        </div>
      <% end %>

      <!--Step 2-->
      <%= link_to "#" do %>
        <div class="flex flex-col justify-between bg-white drop-shadow-xl rounded-xl p-0 mx-5 mb-5 lg:w-1/3"> 
          <!--Picture-->
          <div class="">
              <%= image_tag "groundschool.webp", class: "object-cover w-full rounded-t-xl lg:h-72" %>
          </div>
          <!--Step-->
          <div class="px-3">
            <strong class="block font-bold my-1 text-2xl text-center text-red-800">
                2. Enroll in Ground School.
            </strong>
          </div>
          <!--Step Text-->
          <div class="px-3 text-center">
            Become a safe and knowlegeable pilot.  <br>Online, in person, group, and one on one sessions available.
          </div>
          <!--button-->  
          <div class="flex flex-row justify-between items-start">
            <%= link_to "#", class: "px-3 w-full m-3 mt-5 rounded-md text-center text-white font-semibold bg-yellow-500 transition-all duration-300 hover:bg-yellow-400 " do %>
                Enroll Now!
            <% end %>
          </div>
        </div>
      <% end %>

      <!--Step 3-->
      <%= link_to "#" do %>
        <div class="flex flex-col justify-between bg-white drop-shadow-xl rounded-xl p-0 mx-5 mb-5 lg:w-1/3"> 
          <!--Picture-->
          <div class="">
              <%= image_tag "checkridepass.webp", class: "object-cover w-full rounded-t-xl lg:h-72" %>
          </div>
          <!--Step-->
          <div class="px-3">
            <strong class="block font-bold my-1 text-2xl text-center text-red-800">
                3. Start Flying and Build Experience
            </strong>
          </div>
          <!--Step Text-->
          <div class="px-3 text-center">
            Gain the experience needed to be pilot in command.  Build enough hours to become certified and pass your checkrides.
          </div>
          <!--button-->  
          <div class="flex flex-row justify-between items-start">
            <%= link_to "#", class: "px-3 w-full m-3 mt-5 rounded-md text-center text-white font-semibold bg-yellow-500 transition-all duration-300 hover:bg-yellow-400 " do %>
                Start Today!
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </section>
  <%= render "shared/associations"%>
</div>
<!--CTA-->
<%= render "shared/cta1"%>
<%= render "shared/footer"%>





