<%# Head / Meta Data %>
<% title("Gateway Flight Training | Become a Pilot in St. Louis") %>
<% meta_description("Train more pilots and grow your flight school with Right Rudder Marketing.  Right Rudder Marketing is a pilot owned digital marketing agency that works EXCLUSIVELY with flight schools.  We've developed a marketing system for flight schools that will not only get you more visibility and more brand recognition, but also more students, more flights, and more revenue. Your flight school will become “The Best Known Flight School” in your area.") %>
<% meta_keywords("flight school marketing, website design for flight schools, grow flight school business, aviation marketing, website design for flying club fbo, tim jedrek") %>
<% og_image(image_url("meta_pic_rrm.webp")) %>
<% twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar" %>

  <!--Red header-->
  <section class="bg-red-900 text-white">
    <div class="flex flex-col items-center py-4 text-center">
      <h1 class="font-semibold text-2xl lg:text-3xl">Flight Training in St. Louis, MO</h1>
      <h2 class="italic py-2">The Safe Affordable Way to Become a Pilot</h2>
      <hr class="border-1 border-white w-52" />
      <span class="pt-2 font-semibold"><%=link_to "314-780-7899", "tel:314-780-7899"%></span>
    </div>
  </section>
  <section class="bg-slate-100">
    <div class="flex flex-col lg:flex-row-reverse lg:items-center pt-10 lg:py-10">
      <!--Text Section-->
      <div class="lg:w-1/2 flex flex-col justify-center items-center pb-10">
        <h2 class="px-2 text-3xl text-center font-bold">Get Your <span class="text-red-600">FREE</span> Pilot Training Guide Book!</h2>
        <p class="px-5 py-7 lg:px-32 text-center">50 pages of how to get started on becoming a pilot.  We'll mail you this free booklet which explains everything you need to know for your pilot certificate.</p>
        <%= button_to "Send me the free book!", "#", class: "uppercase bg-yellow-500 hover:bg-yellow-400 hover:scale-105 transition-all duration-300 text-white font-semibold rounded-lg text-center sm:text-lg lg:text-xl py-2 px-5"%>
      </div>
      <!--pic section-->
      <div class="lg:w-1/2">
        <div class="grid place-items-center">
          <%= image_tag "book-mockup.webp", alt: "Picture of our free how to be a pilot training guide"%>
        </div>
      </div>
    
    </div>
  </section>
  <!--Steps Section-->
  <section class="bg-slate-50 py-10">
    <h2 class="font-bold text-center text-3xl pb-10 px-5">
      First Time Here? Here's How to Become a Pilot
    </h2>
    <!--Three Steps-->
    <div class="flex flex-col lg:flex-row lg:justify-center">
      <!--Step 1-->
      <%= link_to "#" do %>
        <div class="flex flex-col justify-between bg-white drop-shadow-xl rounded-xl p-0 mx-5 mb-5 lg:w-1/3"> 
          <!--Picture-->
          <div class="">
              <%= image_tag "archpic.webp", class: "object-cover w-full rounded-t-xl lg:h-72" %>
          </div>
          <!--Step-->
          <div class="px-3">
            <strong class="block font-bold my-1 text-2xl text-center text-red-800">
                1. Schedule a Discovery Flight
            </strong>
          </div>
          <!--Step Text-->
          <div class="px-3 text-center">
            Take the controls of the aircraft for the first time as your instructor guides you through the flight.
          </div>
          <!--button-->  
          <div class="flex flex-row justify-between items-start">
            <%= link_to "#", class: "px-3 w-full m-3 mt-5 rounded-md text-center text-white font-semibold bg-yellow-500 transition-all duration-300 hover:bg-yellow-400 " do %>
                Book Now!
            <% end %>
          </div>
        </div>
      <% end %>

      <!--Step 2-->
      <%= link_to "#" do %>
        <div class="flex flex-col justify-between bg-white drop-shadow-xl rounded-xl p-0 mx-5 mb-5 lg:w-1/3"> 
          <!--Picture-->
          <div class="">
              <%= image_tag "groundschool.webp", class: "object-cover w-full rounded-t-xl lg:h-72" %>
          </div>
          <!--Step-->
          <div class="px-3">
            <strong class="block font-bold my-1 text-2xl text-center text-red-800">
                2. Enroll in Ground School
            </strong>
          </div>
          <!--Step Text-->
          <div class="px-3 text-center">
            Become a safe and knowlegeable pilot.  <br>Online, in person, group, and one on one sessions available.
          </div>
          <!--button-->  
          <div class="flex flex-row justify-between items-start">
            <%= link_to "#", class: "px-3 w-full m-3 mt-5 rounded-md text-center text-white font-semibold bg-yellow-500 transition-all duration-300 hover:bg-yellow-400 " do %>
                Enroll Now!
            <% end %>
          </div>
        </div>
      <% end %>

      <!--Step 3-->
      <%= link_to "#" do %>
        <div class="flex flex-col justify-between bg-white drop-shadow-xl rounded-xl p-0 mx-5 mb-5 lg:w-1/3"> 
          <!--Picture-->
          <div class="">
              <%= image_tag "checkridepass.webp", class: "object-cover w-full rounded-t-xl lg:h-72" %>
          </div>
          <!--Step-->
          <div class="px-3">
            <strong class="block font-bold my-1 text-2xl text-center text-red-800">
                3. Start Flying and Build Experience
            </strong>
          </div>
          <!--Step Text-->
          <div class="px-3 text-center">
            Gain the experience needed to be pilot in command.  Build enough hours to become certified and pass your checkrides.
          </div>
          <!--button-->  
          <div class="flex flex-row justify-between items-start">
            <%= link_to "#", class: "px-3 w-full m-3 mt-5 rounded-md text-center text-white font-semibold bg-yellow-500 transition-all duration-300 hover:bg-yellow-400 " do %>
                Start Today!
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </section>

  <section class="bg-red-900 text-white py-10">

    <div class="flex flex-col lg:flex-row">
      <div class="lg:w-1/2 flex flex-col items-center justify-center">
        <p class="text-4xl italic text-center font-gloock pb-10 lg:pb-0">"Safety in aviation through education"</p>
      </div>
      <div class="lg:w-1/2 flex flex-col justify-center">
        <h2 class="font-semibold text-2xl text-center pb-10 px-5">Knowlegeable Experienced Flight Instructors</h2>
        <p class="px-10">Our team makes safety our primary concern so you can the best pilot that you can be as well as the safest pilot that you can be.</p>
        <p class="px-10 pt-5">Our Instructors are experienced, active aviation professionals with current involvement in airline, corporate and charter operations.</p>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row mt-10 mx-10 lg:mx-40 gap-5" x-data>
      <div class="lg:w-1/3 lg:hover:scale-105 shadow-2xl transition-all duration-300 rounded-tl-3xl rounded-br-3xl border-4 border-yellow-600 flex flex-col items-center">
        <p class="py-3">  
          <div class="flex flex-row font-bold text-5xl" x-data="{ current: 0, target: 70000, time: 1000}" x-intersect.once="() => {
            start = current; 
            const interval = Math.max(time / (target - start), 5); 
            const step = (target - start) /  (time / interval);  
            const handle = setInterval(() => {
                if(current < target) 
                    current += step
                else {
                    clearInterval(handle);
                    current = target
                }   
                }, interval)
            }">
            <div class="card"x-text="Math.round(current).toLocaleString()"></div>+
          </div>
        </p>
        <p class="pb-5">Hours of combined experience</p>
      </div>
      <div class="lg:w-1/3 lg:hover:scale-105 shadow-2xl transition-all duration-300 rounded-tl-3xl rounded-br-3xl border-4 border-yellow-600 flex flex-col items-center">
        <p class="py-3">
          <div class="flex flex-row font-bold text-5xl" x-data="{ current: 0, target: 98, time: 2000}" x-intersect.once="() => {
            start = current; 
            const interval = Math.max(time / (target - start), 5); 
            const step = (target - start) /  (time / interval);  
            const handle = setInterval(() => {
                if(current < target) 
                    current += step
                else {
                    clearInterval(handle);
                    current = target
                }   
                }, interval)
            }">
            <div class="card"x-text="Math.round(current)"></div>%
          </div>
        </p>
        <p class="pb-5">Checkride pass rate</p>
      </div>
      <div class="lg:w-1/3 lg:hover:scale-105 shadow-2xl transition-all duration-300 rounded-tl-3xl rounded-br-3xl border-4 border-yellow-600 flex flex-col items-center">
        <p class="py-3">
          <div class="flex flex-row font-bold text-5xl" x-data="{ current: 0, target: 20, time: 3000}" x-intersect.once="() => {
            start = current; 
            const interval = Math.max(time / (target - start), 5); 
            const step = (target - start) /  (time / interval);  
            const handle = setInterval(() => {
                if(current < target) 
                    current += step
                else {
                    clearInterval(handle);
                    current = target
                }   
                }, interval)
            }">
            <div class="card"x-text="Math.round(current)"></div>+
          </div>
        </p>
        <p class="pb-5">Years creating new pilots</p>
      </div>
    </div>
  </section>

  <section class="bg-slate-100 lg:bg-white">

    <div class="lg:my-24 container mx-auto flex flex-col lg:flex-row shadow-sm overflow-hidden" x-data="{ testimonialActive: 2 }" x-cloak>
      <div class="relative w-full py-2 lg:py-24 bg-slate-100 lg:bg-red-900 lg:w-1/2 flex flex-col item-center justify-center">

        <div class="absolute top-0 left-0 z-10 w-16 h-16 lg:w-40 lg:h-40 lg:ml-20 lg:mt-24"></div>

        <div class="relative text-3xl font-bold lg:text-5xl pt-8 pb-2 px-6 lg:py-6 lg:px-1 lg:w-64 lg:mx-auto text-red-900 lg:text-white leading-tight tracking-tight mb-0 z-20">
          <span class="">What Our</span>
          <span class="">Students</span>
          <span class="">Say!</span>
        </div>

        <!--Desktop buttons-->
        <div class="absolute right-0 bottom-0 mr-4 mb-4 hidden lg:block">
          <button class="rounded-l-lg border-r bg-slate-100 text-slate-500 focus:outline-none hover:text-red-500 font-bold w-12 h-10" x-on:click="testimonialActive = testimonialActive === 1 ? 3 : testimonialActive - 1">
            &#8592;
          </button><button class="rounded-r-lg bg-slate-100 text-slate-500 focus:outline-none hover:text-red-500 font-bold w-12 h-10" x-on:click="testimonialActive = testimonialActive >= 3 ? 1 : testimonialActive + 1">
            &#8594;
          </button>
        </div>
      </div>

      <div class="bg-slate-100 lg:w-1/2">
        <div class="flex flex-col h-full relative">

          <!--Quote marks-->
          <div class="absolute top-0 left-0 mt-3 ml-10 lg:mt-5 lg:ml-12">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-red-200 fill-current w-12 h-12 lg:w-16 lg:h-16" viewBox="0 0 24 24">
              <path d="M6.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35.208-.086.39-.16.539-.222.302-.125.474-.197.474-.197L9.758 4.03c0 0-.218.052-.597.144C8.97 4.222 8.737 4.278 8.472 4.345c-.271.05-.56.187-.882.312C7.272 4.799 6.904 4.895 6.562 5.123c-.344.218-.741.4-1.091.692C5.132 6.116 4.723 6.377 4.421 6.76c-.33.358-.656.734-.909 1.162C3.219 8.33 3.02 8.778 2.81 9.221c-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539.017.109.025.168.025.168l.026-.006C2.535 17.474 4.338 19 6.5 19c2.485 0 4.5-2.015 4.5-4.5S8.985 10 6.5 10zM17.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35.208-.086.39-.16.539-.222.302-.125.474-.197.474-.197L20.758 4.03c0 0-.218.052-.597.144-.191.048-.424.104-.689.171-.271.05-.56.187-.882.312-.317.143-.686.238-1.028.467-.344.218-.741.4-1.091.692-.339.301-.748.562-1.05.944-.33.358-.656.734-.909 1.162C14.219 8.33 14.02 8.778 13.81 9.221c-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539.017.109.025.168.025.168l.026-.006C13.535 17.474 15.338 19 17.5 19c2.485 0 4.5-2.015 4.5-4.5S19.985 10 17.5 10z" /></svg>
          </div>

          <div class="lg:h-72 h-72 relative z-10">
            <div x-show="testimonialActive === 1"   x-transition.opacity  x-transition:enter.duration.500ms x-transition:leave.duration.400ms>
              <p class="text-slate-600 serif font-normal italic pl-16 pr-12 py-6 lg:px-16 lg:py-10 text-xl lg:text-2xl" x-show.transition="testimonialActive == 1">
                Knowledgeable instructors. Welcoming environment. Well maintained airplane. Flexible schedule. I really appreciate the school and the team. They teach me a lot.
              </p>
            </div>

            <div x-show="testimonialActive === 2"  x-transition.opacity  x-transition:enter.duration.500ms x-transition:leave.duration.400ms>
              <p class="text-slate-600 serif font-normal italic pl-16 pr-12 py-6 lg:px-16 lg:py-10 text-xl lg:text-2xl" x-show.transition="testimonialActive == 2">
                These guys are top notch. New facility, planes are newer, flight instructor was very knowledgeable and attentive to details.
              </p>
            </div>

            <div x-show="testimonialActive === 3"  x-transition.opacity  x-transition:enter.duration.500ms x-transition:leave.duration.400ms>
              <p class="text-slate-600 serif font-normal italic pl-16 pr-12 py-6 lg:px-16 lg:py-10 text-xl lg:text-2xl" x-show.transition="testimonialActive == 3">
                I reached out to Brian Borton who runs the operation.  He and I worked to fulfill a dream I've always had since childhood.  I wanted to fly over the skies of St. Louis. I am extremely satisfied.  Great job guys.
              </p>
            </div>
            <!--Phone buttons arrow-->
            <div class="lg:hidden absolute bottom-10 w-full">
              <div class="flex flex-row justify-between">
                <button class=" fill-red-200 text-5xl font-bold w-12 h-32" x-on:click="testimonialActive = testimonialActive === 1 ? 3 : testimonialActive - 1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
                  </svg>
                </button>
                <button class="fill-red-200 text-5xl font-bold w-12 h-32" x-on:click="testimonialActive = testimonialActive >= 3 ? 1 : testimonialActive + 1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="flex my-4 justify-center items-center">
            <button @click.prevent="testimonialActive = 1" class="text-center font-bold shadow-xs focus:outline-none focus:shadow-outline inline-block rounded-full mx-2" :class="{'h-12 w-12 opacity-25 bg-red-300 text-slate-600': testimonialActive != 1, 'h-16 w-16 opacity-100 bg-red-600 text-white': testimonialActive == 1 }">AA</button>
            <button @click.prevent="testimonialActive = 2" class="text-center font-bold shadow-xs focus:outline-none focus:shadow-outline h-16 w-16 inline-block bg-red-600 rounded-full mx-2" :class="{'h-12 w-12 opacity-25 bg-red-300 text-slate-600': testimonialActive != 2, 'h-16 w-16 opacity-100 bg-red-600 text-white': testimonialActive == 2 }">MT</button>
            <button @click.prevent="testimonialActive = 3" class="text-center font-bold shadow-xs focus:outline-none focus:shadow-outline h-12 w-12 inline-block bg-red-600 rounded-full mx-2" :class="{'h-12 w-12 opacity-25 bg-red-300 text-slate-600': testimonialActive != 3, 'h-16 w-16 opacity-100 bg-red-600 text-white': testimonialActive == 3 }">CM</button>
          </div>

          <div class="flex justify-center px-6 pt-2 pb-6 lg:py-6">
            <div class="text-center flex flex-col items-center" x-show="testimonialActive == 1">
              <span class="text-sm lg:text-base font-bold text-slate-700 leading-tight">Abdulrahman Almutairi</span>
              <div class="flex flex-row fill-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
              </div>
            </div>

            <div class="text-center flex flex-col items-center" x-show="testimonialActive == 2">
              <span class="text-sm lg:text-base font-bold text-slate-700 leading-tight">Mike Tofari</span>
              <div class="flex flex-row fill-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
              </div>
            </div>

            <div class="text-center flex flex-col items-center" x-show="testimonialActive == 3">
              <span class="text-sm lg:text-base font-bold text-slate-700 leading-tight">Charles May</span>
              <div class="flex flex-row fill-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-slate-50">
    <h2 class="font-bold text-4xl text-center py-10 px-10">Becoming a pilot will be the best decision you've ever made</h2>

    <div class="">
      <!--Step 1-->
    <div class="flex flex-col lg:flex-row justify-center items-center pt-10 lg:py-10">
      <!--Text-->
      <div class="w-4/5 lg:w-1/2 lg:px-20 lg:pb-0 pb-20" x-data>
        <h3 class="text-2xl font-semibold pb-5 text-red-800">Join the 1% of the population that are pilots</h3>
        <p class="pb-5">This is your chance to join the aviation family and experience a whole new world.  Aviation is a tight knit community of knowledgeable and compassionate people who love the joy of flying.</p>
        <p class="pb-5">Becoming a pilot is an accomplishment to be proud of.  You will be awarded with the priveledge of traveling in the skies.  A feat we could only have dreamt of a few hundred years ago.</p>
        <p class="pb-5">Open a new door of opportunity and embark on a new career and lifestlye.  Stop dreaming and start flying!</p>
        <div class="opacity-0 duration-[1500ms] translate-y-24 text-center w-full flex flex-col items-start" x-intersect="$el.classList.add('opacity-100', 'translate-y-1', 'z-0')">
          <%=link_to schedule_call_path do%>
            <div class="bg-yellow-500 font-semibold hover:bg-yellow-400 hover:scale-105 text-white rounded-lg text-center py-2 px-5 transition-all duration-300">
              START TODAY
            </div>
          <% end %>
        </div>
      </div>
      <!--Picture-->
      <div class="w-full lg:w-1/2 lg:px-20 grid place-items-center">
        <%= image_tag "handshake.webp", alt:"Student pilot and instructor shaking hands after solo flight", class: "" %>
      </div>
    </div>

    <!--Step 2-->
    <div class="flex flex-col lg:flex-row-reverse justify-center items-center pt-10 lg:py-10 bg-slate-50">
      <!--Text-->
      <div class="w-4/5 lg:w-1/2 lg:px-20 pb-20 lg:pb-0" x-data>
        <h3 class="text-2xl font-bold pb-5 text-red-800">A Million Dollar Career</h3>
        <p class="pb-5">Don't let the opportunity slip by!  Now is the time to pursue a new career in aviation.  The demand for pilots is increasing every year.  The <%= link_to "Bureau of Labor Statistics", "https://www.bls.gov/ooh/transportation-and-material-moving/airline-and-commercial-pilots.htm", target: "blank", class: "text-red-800 hover:underline"%> reported that the average salary for airline pilots, copilots, and flight engineers was $202,180. </p>
        <p class="pb-5">Pilot training is a finanical and time investment with a huge payoff.  Just last year, regional airlines have <%= link_to "increased pilot salaries", "https://www.cnbc.com/2022/06/13/american-airlines-regional-pilots-get-big-pay-hikes-as-competition-for-pilots-intensifies-.html", target: "blank", class:"text-red-800 hover:underline" %> by 50%.  With many pilots taking early retirement during the pandemic and increased demand for travel, there has never been a time like now to start training.</p>
        <div class="opacity-0 duration-[1500ms] translate-y-24 text-center w-full flex flex-col items-start" x-intersect="$el.classList.add('opacity-100', 'translate-y-1', 'z-0')">
          <%=link_to schedule_call_path do%>
            <div class="bg-yellow-500 font-semibold hover:bg-yellow-400 hover:scale-105 text-white rounded-lg text-center py-2 px-5 transition-all duration-300">
              PILOT CAREERS
            </div>
          <% end %>
        </div>
      </div>
      <!--Picture-->
      <div class="w-full lg:w-1/2 lg:px-20 grid place-items-center">
        <%= image_tag "thumbsuppilot.webp", alt:"airline pilot giving thumbs up", class: "" %>
      </div>
    </div>

    <!--Step 3-->
    <div class="flex flex-col lg:flex-row justify-center items-center lg:items-start pt-10 lg:py-10">
      <!--Text-->
      <div class="w-4/5 lg:w-1/2 lg:px-20 lg:pb-0 pb-20" x-data>
        <h3 class="text-2xl font-bold pb-5 text-red-800">Travel and Leisure Reimagined</h3>
        <p class="pb-5">Bring on a new meaning to "getting lunch."  With a piston single airplane, get lunch in Chicago or Memphis and be back at home later in the afternoon to watch the game. </p>
        <p class="pb-5">Experience new towns and cities.  Cut travel time in half and then take a courtesy car to explore a new town.  Take your family and friends up in the sky and show them your hometown in a new perspective.</p>
        <p class="pb-5">It all starts with a discovery flight.  Book today and learn more about how to start you aviation journey.</p>
        
        <div class="opacity-0 duration-[1500ms] translate-y-24 text-center w-full flex flex-col items-start" x-intersect="$el.classList.add('opacity-100', 'translate-y-1', 'z-0')">
          <%=link_to schedule_call_path do%>
            <div class="bg-yellow-500 font-semibold hover:bg-yellow-400 hover:scale-105 text-white rounded-lg text-center py-2 px-5 transition-all duration-300">
              BOOK DISCOVERY FLIGHT
            </div>
          <% end %>
        </div>
        
      </div>
      <!--Picture-->
      <div class="w-full lg:w-1/2 grid place-items-center">
        <%= image_tag "womansmile.webp", alt:"Smiling woman in cockpit flying", class: "lg:w-1/2" %>
      </div>
    </div>

    <!--Step 4-->
    <div class="flex flex-col lg:flex-row-reverse justify-center items-center pt-10 lg:py-10 bg-slate-50">
      <!--Text-->
      <div class="w-4/5 lg:w-1/2 lg:px-20">
        <h3 class="text-2xl font-bold pb-5">Still not sure?</h3>
        <p class="pb-5">We understand you might still be looking for more information about us and how to begin pilot training.</p>
        <p class="pb-5">That's why we've got a free booklet that explains how to start flight training.</p>
        <p class="pb-5 font-semibold">
        <%= link_to "Click HERE", checklist_path, class: "text-red-700 hover:underline"%> to get the free book mailed to you!  </p>
        <p class="pb-5 italic">Please note, this book only scratches the surface in your aviation journey.  To learn more about pilot certificate requirements, aviation careers, and pilot opportunities, talk with one of our experienced certified flight instructors!</p>
      </div>
      <!--Picture-->
      <div class="w-full lg:w-1/2 lg:px-20 hidden lg:grid place-items-center">
        <%= image_tag "book-mockup.webp", alt: "Picture of our free how to be a pilot training guide"%>
      </div>
    </div>
    </div>
  </section>

  <%= render "shared/associations"%>
  
  <section class="bg-red-900 text-white">
    <div class="flex flex-col lg:flex-row py-20">
      <div class="lg:w-1/2 flex flex-col items-center justify-center px-5" x-data>
        <h2 class="text-3xl lg:text-5xl font-gloock font-bold italic text-center">Gateway is the best <br>in flight safety and education</h2>
        <h3 class="text-xl font-semibold py-5">St. Louis Flight Training</h3>
        <p class="lg:w-3/4">
          The best flight instruction at Creve Coeur Airport (1HO).  Our knowledgeable and experienced instructors comprises of pilots with ATP, Multi-Engine Instructor, Instrument Instructor, and Certified Flight Instructor certification with a combined total of more than 70,000 hours of total flight time.
        </p>
        <div class="flex flex-col items-start">
          <ul class="w-3/4 lg:pb-10 py-5">
            <li class="pb-5">
              <div class="flex flex-row opacity-0 duration-[1500ms] translate-x-0" x-intersect="$el.classList.add('opacity-100', 'translate-x-20', 'z-0')">
                <div class="text-yellow-500 pr-3">&#9992;</div>
                  Part 61 private pilot training
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row opacity-0 duration-[1500ms] translate-x-0" x-intersect="$el.classList.add('opacity-100', 'translate-x-20', 'z-0')" >
                <div class="text-yellow-500 pr-3">&#9992;</div>
                  Advanced training including instrument, commercial, multi-engine, and CFI
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row opacity-0 duration-[1500ms] translate-x-0" x-intersect="$el.classList.add('opacity-100', 'translate-x-20', 'z-0')" >
                <div class="text-yellow-500 pr-3">&#9992;</div>
                  Group and one on one ground school instruction
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row opacity-0 duration-[1500ms] translate-x-0" x-intersect="$el.classList.add('opacity-100', 'translate-x-20', 'z-0')" >
                <div class="text-yellow-500 pr-3">&#9992;</div>
                  Checkride preparation and instruction
              </div>
            </li>
          </ul>
        </div>
        <div class="opacity-0 duration-[1500ms] translate-y-24  lg:pl-16 text-center w-full flex flex-col items-start" x-intersect="$el.classList.add('opacity-100', 'translate-y-1', 'z-0')">
          <%=link_to schedule_call_path do%>
            <div class="bg-yellow-500 font-semibold hover:bg-yellow-400 hover:scale-105 text-white rounded-lg text-center py-2 px-5 transition-all duration-300">
              PILOT TRAINING
            </div>
          <% end %>
        </div>
      </div>
      <div class="lg:w-1/2 flex flex-col justify-center items-center">
        <%= turbo_frame_tag "frame2", class: "w-full" do %>
          <%= link_to embed_video_path, class: "" do%>
            <div class="lg:w-4/5 mx-auto w-full aspect-vide bg-videothumb bg-cover bg-center">
              <%= image_tag "youtube_embed_icon.webp", alt: "image placeholder for video", class: "lg:grayscale hover:grayscale-0 transition-all duration-500 "%>
            </div>
            <h4 class="text-center italic text-sm">Family testimonial of Devin, student pilot at Gateway</h4>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row-reverse pb-20">
      <div class="lg:w-1/2 flex flex-col items-center justify-center px-5" x-data>
        <h2 class="text-3xl lg:text-5xl font-gloock font-bold italic text-center">Meticulous Maintenance</h2>
        <h3 class="text-xl font-semibold py-5">St. Louis Aviation Maintenance</h3>
        <p class="lg:w-3/4">
          The best aviation maintenance team at Creve Coeur Airport (1HO).  Our knowledgeable and experienced maintenance team comprises of mechanics with A&P and IA certification.
        </p>
        <div class="flex flex-col items-start">
          <ul class="lg:w-3/4 left-0 lg:pb-10 py-5">
            <li class="pb-5">
              <div class="flex flex-row opacity-0 duration-[1500ms] translate-x-0" x-intersect="$el.classList.add('opacity-100', 'translate-x-20', 'z-0')" >
                <div class="text-yellow-500 pr-3">&#9992;</div>
                  Single engine, multi-engine, cabin class, and turbo prop airplanes
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row opacity-0 duration-[1500ms] translate-x-0" x-intersect="$el.classList.add('opacity-100', 'translate-x-20', 'z-0')" >
                <div class="text-yellow-500 pr-3">&#9992;</div>
                  Annual inspections, TCM bore scope inspections, ADSB compliance
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row opacity-0 duration-[1500ms] translate-x-0" x-intersect="$el.classList.add('opacity-100', 'translate-x-20', 'z-0')" >
                <div class="text-yellow-500 pr-3">&#9992;</div>
                  Sheet metal repair, heater decay testing, air conditioner service, oxygen service
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row opacity-0 duration-[1500ms] translate-x-0" x-intersect="$el.classList.add('opacity-100', 'translate-x-20', 'z-0')" >
                <div class="text-yellow-500 pr-3">&#9992;</div>
                  Dynamic propeller balancing, TCM fuel set up, battery service, strut service, gear setup, weighing
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row opacity-0 duration-[1500ms] translate-x-0" x-intersect="$el.classList.add('opacity-100', 'translate-x-20', 'z-0')" >
                <div class="text-yellow-500 pr-3">&#9992;</div>
                  Avionics upgrades, maintenace, and service: COM, transponders, NAV, EFIS, GPS, EIS, ADSB
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row opacity-0 duration-[1500ms] translate-x-0" x-intersect="$el.classList.add('opacity-100', 'translate-x-20', 'z-0')" >
                <div class="text-yellow-500 pr-3">&#9992;</div>
                  Shuttle service, pick up and devivery service, electrical service
              </div>
            </li>
          </ul>
        </div>  
         <div class="opacity-0 duration-[1500ms] translate-y-24 lg:pl-16 text-center w-full flex flex-col items-start" x-intersect="$el.classList.add('opacity-100', 'translate-y-1', 'z-0')">
          <%=link_to schedule_call_path do%>
            <div class="bg-yellow-500 font-semibold hover:bg-yellow-400 hover:scale-105 text-white rounded-lg text-center py-2 px-5 transition-all duration-300">
              MAINTENANCE SERVICE
            </div>
          <% end %>
        </div>
      </div>
      <div class="lg:w-1/2 flex flex-col justify-center items-center">
        <%= turbo_frame_tag "frame3", class: "w-full" do %>
          <%= link_to embed_video_maint_path, class: "" do%>
            <div class="lg:w-4/5 mx-auto w-full aspect-vide bg-videothumbmaint bg-cover bg-center">
              <%= image_tag "youtube_embed_icon.webp", alt: "image placeholder for video", class: "lg:grayscale hover:grayscale-0 transition-all duration-500 "%>
            </div>
            <h4 class="text-center italic text-sm">Brian Borton, operations manager, on avionics and upgrades to the aircraft</h4>
          <% end %>
        <% end %>
      </div>
    </div>
    
  </section>
</div>
<!--CTA-->
<%= render "shared/cta1"%>
<%= render "shared/footer"%>